@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
/*-----------------------*/
/* Custom properties    */
/*-----------------------*/
:root{
    --clr-mblue:238, 40%, 52%;
    --clr-sred:358, 79%, 66%;
    --clr-lgblue:239, 57%, 85%;
    --clr-pred:357, 100%, 86%;
    --clr-dblue:212, 24%, 26%;
    --clr-gblue:211, 10%, 45%;
    --clr-lgray:223, 19%, 93%;
    --clr-vlgray:228, 33%, 97%;
    --clr-white:0, 0%, 100%;

    --fs-200:1rem;
    --fs-100:0.925rem;

    --fw-400:400;
    --fw-500:500;
    --fw-700:700;
}
/*-----------------------*/
/* Reset                 */
/*-----------------------*/

/* Box Sizing */
*{
    box-sizing: border-box;
}

/* reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
picture{
    margin:0;
}
/* body resets */
body{
    line-height: 1.5;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
}

/* picture resets */
img,
picture{
    max-width: 100%;
    display: block;
}
/* forms reset */
input,
button,
textarea,
select{
    font: inherit;
}
/* remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {  
    * 
    {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
/*-----------------------*/
/* Utility               */
/*-----------------------*/
.flex{
    display: flex;
    gap: var(--gap, 1rem);
}
.grid{
    display: grid;
    gap: var(--gap, 1rem);
}
.block{
    display: block;
    gap: var(--gap, 1rem);
}
.container {
    margin-top: 10rem;
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 60%;
    max-height: 100%;
    outline: 5px solid black;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
/* colors */
.bg-mblue{background-color: hsl(var(--clr-mblue));}
.bg-sred{background-color: hsl(var(--clr-sred));}
.bg-lgblue{background-color: hsl(var(--clr-lgblue));}
.bg-pred{background-color: hsl(var(--clr-pred));}
.bg-dblue{background-color: hsl(var(--clr-dblue));}
.bg-gblue{background-color: hsl(var(--clr-gblue));}
.bg-lgray{background-color: hsl(var(--clr-lgray));}
.bg-vlgray{background-color: hsl(var(--clr-vlgray));}
.bg-white{background-color: hsl(var(--clr-white));}

.text-mblue{color: hsl(var(--clr-mblue));}
.text-sred{color: hsl(var(--clr-sred));}
.text-lgblue{color: hsl(var(--clr-lgblue));}
.text-pred{color: hsl(var(--clr-pred));}
.text-dblue{color: hsl(var(--clr-dblue));}
.text-gblue{color: hsl(var(--clr-gblue));}
.text-lgray{color: hsl(var(--clr-lgray));}
.text-vlgray{color: hsl(var(--clr-vlgray));}
.text-white{color: hsl(var(--clr-white));}

/* typography */
.fs-100{
    font-size: var(--fs-100);
}
.fs-200{
    font-size: var(--fs-200);
}
.fw-400{
    font-weight: var(--fw-400);
}
.fw-500{
    font-weight: var(--fw-500);
}
.fw-700{
    font-weight: var(--fw-700);
}





.comment-row{
    height: 10rem;
    width: 100%;
}